In [6]:
import pandas as pd
people={
    "first":["Corey","Jane","John"],
    "last":["Schafer","Doe","Doe"],
    "email":["coreyschafer@gmail.com","janedoe@gmail.com","johndoe@gmail.com"]
}
df=pd.DataFrame(people)

In [9]:
df

   first     last                   email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       janedoe@gmail.com
2   John      Doe       johndoe@gmail.com

In [57]:
df['first']  #Its returning the Series of row

0    Corey
1     Jane
2     John
Name: first, dtype: object

In [11]:
type(df['first'])

pandas.core.series.Series

In [13]:
df.first  # Both are same df['first'] , if we have column name and method name same then this method might not work
          #but using square bracket is good way

<bound method NDFrame.first of    first     last                   email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       janedoe@gmail.com
2   John      Doe       johndoe@gmail.com>

In [18]:
df[['last','email']] #To access multiple element #It is returning the datafrome

      last                   email
0  Schafer  coreyschafer@gmail.com
1      Doe       janedoe@gmail.com
2      Doe       johndoe@gmail.com

In [19]:
df.columns #To get all the column

Index(['first', 'last', 'email'], dtype='object')

In [20]:
# to get the rows loc(using lable ) and iloc(using interger location)
df.iloc[0]     #here index are replaced with column name

first                     Corey
last                    Schafer
email    coreyschafer@gmail.com
Name: 0, dtype: object

In [21]:
df.iloc[0]

first                     Corey
last                    Schafer
email    coreyschafer@gmail.com
Name: 0, dtype: object

In [23]:
#to get multiple rows
df.iloc[[0,1]]

   first     last                   email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       janedoe@gmail.com

In [25]:
#Using ilco we can access column as well row as first arg and column as 2nd arg
df.iloc[[0,1],2]   #2 as 2nd column also column indexing start from 0,1,2 ..

0    coreyschafer@gmail.com
1         janedoe@gmail.com
Name: email, dtype: object

In [26]:
df

   first     last                   email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       janedoe@gmail.com
2   John      Doe       johndoe@gmail.com

In [27]:
df.loc[0]

first                     Corey
last                    Schafer
email    coreyschafer@gmail.com
Name: 0, dtype: object

In [28]:
df.loc[[0,1]]  # to get 2 rows using lable

   first     last                   email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       janedoe@gmail.com

In [29]:
df.loc[[0,1],"email"]

0    coreyschafer@gmail.com
1         janedoe@gmail.com
Name: email, dtype: object

In [34]:
df.loc[[0,1],['email','last']]

                    email     last
0  coreyschafer@gmail.com  Schafer
1       janedoe@gmail.com      Doe

In [58]:
df=pd.read_csv(r'C:\Users\deshmuks\OneDrive - Landis+Gyr\Desktop\Python\Pandas\survey_results_public.csv')
schema_df=pd.read_csv(r'C:\Users\deshmuks\OneDrive - Landis+Gyr\Desktop\Python\Pandas\survey_results_schema.csv')

In [36]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [37]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [38]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [39]:
df['Hobbyist'].value_counts()

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [48]:
df.loc[0,'Hobbyist']

'Yes'

In [49]:
df.loc[[0,1,2],'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [51]:
df.loc[0:2,'Hobbyist']  #With loc last value is inclusive and we don't need to use bracket

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [54]:
#To get 4 column from 'Hobbyist' from hobbyist 4th one is Employment
df.loc[0:2,'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time

In [62]:
people={
    "first":["Corey","Jane","John"],
    "last":["Schafer","Doe","Doe"],
    "email":["coreyschafer@gmail.com","janedoe@gmail.com","johndoe@gmail.com"]
}
df=pd.DataFrame(people)

In [63]:
df['email']

0    coreyschafer@gmail.com
1         janedoe@gmail.com
2         johndoe@gmail.com
Name: email, dtype: object

In [64]:
df.set_index('email')

                        first     last
email
coreyschafer@gmail.com  Corey  Schafer
janedoe@gmail.com        Jane      Doe
johndoe@gmail.com        John      Doe

In [65]:
df

   first     last                   email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       janedoe@gmail.com
2   John      Doe       johndoe@gmail.com

In [66]:
df.set_index('email', inplace=True) # we don't have index 0,1,2, for loc funtion iloc function have indexes 0,1,2,3...

In [67]:
df

                        first     last
email
coreyschafer@gmail.com  Corey  Schafer
janedoe@gmail.com        Jane      Doe
johndoe@gmail.com        John      Doe

In [68]:
df.index

Index(['coreyschafer@gmail.com', 'janedoe@gmail.com', 'johndoe@gmail.com'], dtype='object', name='email')

In [69]:
df.loc['coreyschafer@gmail.com']

first      Corey
last     Schafer
Name: coreyschafer@gmail.com, dtype: object

In [70]:
df.loc['coreyschafer@gmail.com','last']

'Schafer'

In [72]:
df.iloc[0]

first      Corey
last     Schafer
Name: coreyschafer@gmail.com, dtype: object

In [73]:
df.reset_index(inplace=True)

In [74]:
df

                    email  first     last
0  coreyschafer@gmail.com  Corey  Schafer
1       janedoe@gmail.com   Jane      Doe
2       johndoe@gmail.com   John      Doe