In [24]:
import pandas as pd
# We can use respondant column as index
df=pd.read_csv(r'C:\Users\deshmuks\OneDrive - Landis+Gyr\Desktop\Python\Pandas\survey_results_public.csv',index_col='Respondent')
schema_df=pd.read_csv(r'C:\Users\deshmuks\OneDrive - Landis+Gyr\Desktop\Python\Pandas\survey_results_schema.csv',index_col='Column')
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

In [26]:
df['ConvertedComp'].sort_values(ascending=False)

Respondent
25524    2000000.0
28008    2000000.0
85395    2000000.0
44552    2000000.0
69211    2000000.0
           ...
88377          NaN
88601          NaN
88802          NaN
88816          NaN
88863          NaN
Name: ConvertedComp, Length: 88883, dtype: float64

In [27]:
df['ConvertedComp'].head(10)

Respondent
1          NaN
2          NaN
3       8820.0
4      61000.0
5          NaN
6     366420.0
7          NaN
8          NaN
9      95179.0
10     13293.0
Name: ConvertedComp, dtype: float64

In [28]:
df['ConvertedComp'].median()

57287.0

In [29]:
#df.median() #String is not able to find the median
numeric_columns = df.select_dtypes(include="number")
medians=numeric_columns.median()
print(medians)

CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [30]:
df.describe()  #result is based on non NaN values

          CompTotal  ConvertedComp   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04   5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11   1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13   2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00   0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04   2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04   5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05   1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16   2.000000e+06   4850.000000     99.000000     99.000000

In [31]:
df.count()

MainBranch                88331
Hobbyist                  88883
OpenSourcer               88883
OpenSource                86842
Employment                87181
Country                   88751
Student                   87014
EdLevel                   86390
UndergradMajor            75614
EduOther                  84260
OrgSize                   71791
DevType                   81335
YearsCode                 87938
Age1stCode                87634
YearsCodePro              74331
CareerSat                 72847
JobSat                    70988
MgrIdiot                  61159
MgrMoney                  61157
MgrWant                   61232
JobSeek                   80555
LastHireDate              79854
LastInt                   67155
FizzBuzz                  71344
JobFactors                79371
ResumeUpdate              77877
CurrencySymbol            71392
CurrencyDesc              71392
CompTotal                 55945
CompFreq                  63268
ConvertedComp             55823
WorkWeekHrs               64503
WorkPlan                  68914
WorkChallenge             68141
WorkRemote                70284
WorkLoc                   70055
ImpSyn                    71779
CodeRev                   70390
CodeRevHrs                49790
UnitTests                 62668
PurchaseHow               61108
PurchaseWhat              62029
LanguageWorkedWith        87569
LanguageDesireNextYear    84088
DatabaseWorkedWith        76026
DatabaseDesireNextYear    69147
PlatformWorkedWith        80714
PlatformDesireNextYear    77443
WebFrameWorkedWith        65022
WebFrameDesireNextYear    62944
MiscTechWorkedWith        59586
MiscTechDesireNextYear    64511
DevEnviron                87317
OpSys                     87851
Containers                85366
BlockchainOrg             48175
BlockchainIs              60165
BetterLife                86269
ITperson                  87141
OffOn                     86663
SocialMedia               84437
Extraversion              87305
ScreenName                80486
SOVisit1st                83877
SOVisitFreq               88263
SOVisitTo                 88086
SOFindAnswer              87816
SOTimeSaved               86344
SOHowMuchTime             68378
SOAccount                 87828
SOPartFreq                74692
SOJobs                    88066
EntTeams                  87841
SOComm                    88131
WelcomeChange             85855
SONewContent              69560
Age                       79210
Gender                    85406
Trans                     83607
Sexuality                 76147
Ethnicity                 76668
Dependents                83059
SurveyLength              86984
SurveyEase                87081
dtype: int64

In [34]:
df['ConvertedComp'].mean()

127110.73842323056

In [35]:
df['ConvertedComp'].std()

284152.3038420792

In [37]:
df['ConvertedComp'].min()

0.0

In [38]:
df['ConvertedComp'].max()

2000000.0

In [39]:
df['ConvertedComp'].count()

55823

In [42]:
#To count values inside the column we should use values_count()
df['ConvertedComp'].value_counts()

ConvertedComp
2000000.0    709
1000000.0    558
120000.0     502
100000.0     480
150000.0     434
            ...
411096.0       1
261228.0       1
82322.0        1
66424.0        1
588012.0       1
Name: count, Length: 9162, dtype: int64

In [43]:
df['Hobbyist'].value_counts()

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [44]:
df['Hobbyist'].count()

88883

In [45]:
df['SocialMedia']

Respondent
1          Twitter
2        Instagram
3           Reddit
4           Reddit
5         Facebook
           ...
88377      YouTube
88601          NaN
88802          NaN
88816          NaN
88863     WhatsApp
Name: SocialMedia, Length: 88883, dtype: object

In [51]:
schema_df.loc['SocialMedia'] #as column is an index as mention while importing it

QuestionText    What social media site do you use the most?
Name: SocialMedia, dtype: object

In [46]:
df['SocialMedia'].value_counts()

SocialMedia
Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: count, dtype: int64

In [53]:
#To get values in the form of percentage
df['SocialMedia'].value_counts(normalize=True)

SocialMedia
Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: proportion, dtype: float64

In [54]:
#group by function
#SPLIT -> APPLY FUNCTION -> COMBINE RESULT

In [56]:
df['Country'].value_counts()

Country
United States        20949
India                 9061
Germany               5866
United Kingdom        5737
Canada                3395
                     ...
Tonga                    1
Timor-Leste              1
North Korea              1
Brunei Darussalam        1
Chad                     1
Name: count, Length: 179, dtype: int64

In [61]:
#group by using country
country_grp=df.groupby(['Country'])

In [ ]:
country_grp.get_group('United States')

In [ ]:
country_grp.get_group('India')

In [ ]:
filt=df['Country']=='United States'
df.loc[filt]

In [ ]:
filt=df['Country']=='India'
df.loc[filt]

In [69]:
filt=df['Country']=='India'
df.loc[filt]['SocialMedia'].value_counts()

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: count, dtype: int64

In [71]:
country_grp['SocialMedia'].value_counts().head(50)

Country              SocialMedia
Afghanistan          Facebook                     15
                     YouTube                       9
                     I don't use social media      6
                     WhatsApp                      4
                     Instagram                     1
                     LinkedIn                      1
                     Twitter                       1
Albania              WhatsApp                     18
                     Facebook                     16
                     Instagram                    13
                     YouTube                      10
                     Twitter                       8
                     LinkedIn                      7
                     Reddit                        6
                     I don't use social media      4
                     Snapchat                      1
                     WeChat 微信                     1
Algeria              YouTube                      42
                     Facebook                     41
                     Twitter                      14
                     LinkedIn                      9
                     Instagram                     7
                     I don't use social media      7
                     Reddit                        2
                     WhatsApp                      2
Andorra              Facebook                      2
                     I don't use social media      2
                     YouTube                       1
                     Reddit                        1
                     Snapchat                      1
Angola               Twitter                       2
                     YouTube                       1
                     Facebook                      1
Antigua and Barbuda  YouTube                       2
                     Facebook                      1
                     Instagram                     1
                     Twitter                       1
                     VK ВКонта́кте                 1
Argentina            WhatsApp                    202
                     Twitter                      80
                     YouTube                      62
                     Instagram                    53
                     Reddit                       50
                     Facebook                     45
                     I don't use social media     22
                     LinkedIn                     16
Armenia              Facebook                     38
                     YouTube                      23
                     LinkedIn                      5
                     Instagram                     3
Name: count, dtype: int64

In [72]:
country_grp['SocialMedia'].value_counts().loc['India']

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: count, dtype: int64

In [73]:
country_grp['SocialMedia'].value_counts().loc['United States']

SocialMedia
Reddit                      5700
Twitter                     3468
Facebook                    2844
YouTube                     2463
I don't use social media    1851
Instagram                   1652
LinkedIn                    1020
WhatsApp                     609
Snapchat                     326
WeChat 微信                     93
VK ВКонта́кте                  9
Weibo 新浪微博                     8
Hello                          2
Youku Tudou 优酷                 1
Name: count, dtype: int64

In [76]:
country_grp['SocialMedia'].value_counts(normalize=True).loc['China']*100

SocialMedia
WeChat 微信                   67.054908
YouTube                      8.818636
Weibo 新浪微博                   6.988353
I don't use social media     4.492512
Twitter                      4.492512
Reddit                       1.996672
LinkedIn                     1.830283
Facebook                     1.331115
Instagram                    1.164725
Youku Tudou 优酷               1.164725
WhatsApp                     0.499168
VK ВКонта́кте                0.166389
Name: proportion, dtype: float64

In [77]:
#Median of salary column
country_grp['ConvertedComp'].median()

Country
Afghanistan                               6222.0
Albania                                  10818.0
Algeria                                   7878.0
Andorra                                 160931.0
Angola                                    7764.0
                                          ...
Venezuela, Bolivarian Republic of...      6384.0
Viet Nam                                 11892.0
Yemen                                    11940.0
Zambia                                    5040.0
Zimbabwe                                 19200.0
Name: ConvertedComp, Length: 179, dtype: float64

In [80]:
#As above one is table so we can access data using loc funtion as well
country_grp['ConvertedComp'].median().loc['Germany']

63016.0

In [81]:
country_grp['ConvertedComp'].agg(['median','mean'])

                                        median           mean
Country
Afghanistan                             6222.0  101953.333333
Albania                                10818.0   21833.700000
Algeria                                 7878.0   34924.047619
Andorra                               160931.0  160931.000000
Angola                                  7764.0    7764.000000
...                                        ...            ...
Venezuela, Bolivarian Republic of...    6384.0   14581.627907
Viet Nam                               11892.0   17233.436782
Yemen                                  11940.0   16909.166667
Zambia                                  5040.0   10075.375000
Zimbabwe                               19200.0   34046.666667

[179 rows x 2 columns]

In [82]:
country_grp['ConvertedComp'].agg(['median','mean']).loc['Canada']

median     68705.000000
mean      134018.564909
Name: Canada, dtype: float64

In [85]:
filt=df['Country']=='India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python')

Respondent
8         True
10        True
15       False
50        True
65       False
         ...
77339    False
79795     True
83862    False
84299     True
86012    False
Name: LanguageWorkedWith, Length: 9061, dtype: object

In [86]:
#To count above 

df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

3105

In [87]:
country_grp['LanguageWorkedWith'].str.contains('Python').sum()
#Its returning the group of series of object thats why we cann't apply the sum function

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [93]:
country_grp['LanguageWorkedWith'].apply(lambda x:x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [92]:
country_grp['LanguageWorkedWith'].apply(lambda x:x.str.contains('Python').sum()).sort_values(ascending=False)

Country
United States     10083
India              3105
Germany            2451
United Kingdom     2384
Canada             1558
                  ...
Malawi                0
Tonga                 0
Djibouti              0
Liberia               0
Cape Verde            0
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [90]:
country_grp['LanguageWorkedWith'].apply(lambda x:x.str.contains('Python').sum())['India']
#AS x is series so we need to convert it into string so we are using the str function

3105

In [105]:
#how much percentage of people in each country know python

In [104]:
#Step 1 : To get total no. of student in each country who responded to the survey
country_respondents=df['Country'].value_counts()
country_respondents

Country
United States        20949
India                 9061
Germany               5866
United Kingdom        5737
Canada                3395
                     ...
Tonga                    1
Timor-Leste              1
North Korea              1
Brunei Darussalam        1
Chad                     1
Name: count, Length: 179, dtype: int64

In [107]:
#step 2 : To get how many no. of python user are there in each country
country_uses_python=country_grp['LanguageWorkedWith'].apply(lambda x:x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [108]:
#We can combine more than one series using pandas concat funtion
python_df=pd.concat([country_respondents, country_uses_python], axis='columns', sort=False)
python_df

                   count  LanguageWorkedWith
Country
United States      20949               10083
India               9061                3105
Germany             5866                2451
United Kingdom      5737                2384
Canada              3395                1558
...                  ...                 ...
Tonga                  1                   0
Timor-Leste            1                   1
North Korea            1                   0
Brunei Darussalam      1                   0
Chad                   1                   0

[179 rows x 2 columns]

In [109]:
python_df.rename(columns={'count':'NumRespondents', 'LanguageWorkedWith':'NumKnowsPython'})
python_df

                   count  LanguageWorkedWith
Country
United States      20949               10083
India               9061                3105
Germany             5866                2451
United Kingdom      5737                2384
Canada              3395                1558
...                  ...                 ...
Tonga                  1                   0
Timor-Leste            1                   1
North Korea            1                   0
Brunei Darussalam      1                   0
Chad                   1                   0

[179 rows x 2 columns]

In [114]:
python_df['PctKnowsPython']=(python_df['LanguageWorkedWith']/python_df['count'])*100
python_df

                   count  LanguageWorkedWith  PctKnowsPython
Country
United States      20949               10083       48.131176
India               9061                3105       34.267741
Germany             5866                2451       41.783157
United Kingdom      5737                2384       41.554820
Canada              3395                1558       45.891016
...                  ...                 ...             ...
Tonga                  1                   0        0.000000
Timor-Leste            1                   1      100.000000
North Korea            1                   0        0.000000
Brunei Darussalam      1                   0        0.000000
Chad                   1                   0        0.000000

[179 rows x 3 columns]

In [115]:
#To sort
python_df.sort_values(by='PctKnowsPython',ascending=False)

                                  count  LanguageWorkedWith  PctKnowsPython
Country
Sao Tome and Principe                 1                   1      100.000000
Timor-Leste                           1                   1      100.000000
Dominica                              1                   1      100.000000
Niger                                 1                   1      100.000000
Turkmenistan                          7                   6       85.714286
...                                 ...                 ...             ...
Cape Verde                            3                   0        0.000000
Lao People's Democratic Republic      3                   0        0.000000
Malawi                                2                   0        0.000000
Liberia                               2                   0        0.000000
Chad                                  1                   0        0.000000

[179 rows x 3 columns]

In [117]:
python_df.sort_values(by='PctKnowsPython',ascending=False,inplace=True)
python_df

                       count  LanguageWorkedWith  PctKnowsPython
Country
Sao Tome and Principe      1                   1      100.000000
Niger                      1                   1      100.000000
Timor-Leste                1                   1      100.000000
Dominica                   1                   1      100.000000
Turkmenistan               7                   6       85.714286
...                      ...                 ...             ...
North Korea                1                   0        0.000000
Brunei Darussalam          1                   0        0.000000
Djibouti                   2                   0        0.000000
Gabon                      2                   0        0.000000
Chad                       1                   0        0.000000

[179 rows x 3 columns]

In [120]:
python_df.head(50)

                                  count  LanguageWorkedWith  PctKnowsPython
Country
Sao Tome and Principe                 1                   1      100.000000
Niger                                 1                   1      100.000000
Timor-Leste                           1                   1      100.000000
Dominica                              1                   1      100.000000
Turkmenistan                          7                   6       85.714286
Mauritania                            7                   5       71.428571
Guinea                                3                   2       66.666667
Bahamas                               3                   2       66.666667
Guyana                                3                   2       66.666667
Uganda                               72                  47       65.277778
Iceland                              49                  30       61.224490
Benin                                 5                   3       60.000000
Namibia                               5                   3       60.000000
Haiti                                 5                   3       60.000000
Congo, Republic of the...             7                   4       57.142857
Oman                                 11                   6       54.545455
Cuba                                 30                  16       53.333333
Republic of Korea                    39                  20       51.282051
South Korea                         160                  80       50.000000
Seychelles                            2                   1       50.000000
Bhutan                                2                   1       50.000000
Monaco                                4                   2       50.000000
San Marino                            2                   1       50.000000
Sierra Leone                          2                   1       50.000000
Chile                               206                 102       49.514563
Finland                             546                 266       48.717949
Kenya                               249                 120       48.192771
United States                     20949               10083       48.131176
Israel                              952                 457       48.004202
Ecuador                              82                  39       47.560976
Montenegro                           17                   8       47.058824
Mongolia                             17                   8       47.058824
Taiwan                              187                  88       47.058824
Switzerland                         978                 460       47.034765
United Republic of Tanzania          32                  15       46.875000
Hong Kong (S.A.R.)                  188                  88       46.808511
Japan                               391                 182       46.547315
Maldives                             13                   6       46.153846
Canada                             3395                1558       45.891016
Singapore                           303                 139       45.874587
New Zealand                         524                 236       45.038168
China                               664                 297       44.728916
Honduras                             27                  12       44.444444
France                             2391                1054       44.081974
Iraq                                 39                  17       43.589744
Thailand                            214                  92       42.990654
Democratic Republic of the Congo      7                   3       42.857143
Nepal                               237                 101       42.616034
Estonia                             195                  82       42.051282
Russian Federation                 1694                 708       41.794569

In [122]:
python_df.loc['India'] #As its a row

count                 9061.000000
LanguageWorkedWith    3105.000000
PctKnowsPython          34.267741
Name: India, dtype: float64

In [123]:
python_df['PctKnowsPython'] #As its a column

Country
Sao Tome and Principe    100.000000
Niger                    100.000000
Timor-Leste              100.000000
Dominica                 100.000000
Turkmenistan              85.714286
                            ...
North Korea                0.000000
Brunei Darussalam          0.000000
Djibouti                   0.000000
Gabon                      0.000000
Chad                       0.000000
Name: PctKnowsPython, Length: 179, dtype: float64